DATABASE_URL="postgresql://postgres:postgres@localhost:5432/meu_boilerplate_db?schema=public"
PORT=3333
NODE_ENV=development
JWT_SECRET=minha-chave-super-secreta-trocar-depois
JWT_EXPIRES_IN=7d
FRONTEND_URL=http://localhost:3000